
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.App {
  width: 350px;
  min-height: 400px;
  margin: 40px auto;
  font-family:' Arial';
  background-color: rgb(225, 235, 238);
}

.BoxFilter {
  z-index: -1;
  position: absolute;
  display:flex;
  justify-content: center;
  background-color: rgb(248, 244, 244);
  box-shadow: 4px 4px 3px 3px rgb(198, 217, 237);
  border-radius: 5px;
  width: 30vh;
  margin: 8px;
  padding: 7px;
  opacity: 0.9;
  right: 0;
  bottom: 0;
}

.filteColor{
margin-right: 60px;
}

.filterSpots{
  margin-right: 0px;
}

h1{
  text-align: center;
}

.leaflet-container{
  height: 91%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
